<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx
            </Pattern>
        </layout>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/info.log</file>
        <append>true</append>
  		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/info.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1GB</maxFileSize>
		</triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level- %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/errors.log</file>
        <append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/errors.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1GB</maxFileSize>
		</triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %m%n%wEx</pattern>
        </encoder>
    </appender>
    <appender name="SUMMARY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/summary.log</file>
        <append>true</append>
  		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/summary.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1GB</maxFileSize>
		</triggeringPolicy>
        <encoder>
        	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} SUMMARY - %m%n</pattern>
        </encoder>
    </appender>

	<appender name="ASYNC-INFO-LOGGER"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="INFO" />
	</appender>

	<appender name="ASYNC-ERROR-LOGGER"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ERROR" />
	</appender>

	<appender name="ASYNC-SUMMARY-LOGGER"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="SUMMARY" />
	</appender>
    
    <logger name="infos" level="INFO" additivity="false">
    <!-- uncomment to display both in file and console -->
<!-- 		<appender-ref ref="CONSOLE" /> -->
        <appender-ref ref="ASYNC-INFO-LOGGER"/>
    </logger>
    <logger name="errors" level="ERROR" additivity="false">
    <!-- uncomment to display both in file and console -->
<!-- 		<appender-ref ref="CONSOLE" /> -->
        <appender-ref ref="ASYNC-ERROR-LOGGER"/>
    </logger>
    <logger name="summaries" level="ALL" additivity="false">
        <appender-ref ref="ASYNC-SUMMARY-LOGGER"/>
    </logger>
	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>